* {
    box-sizing: border-box;
}

@font-face {
	font-family: "showtime";
    src: url("fonts/Showtime.ttf");
}

@font-face {
    font-family: "assistantregular";
    src: url("fonts/Assistant-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "assistantregular";
    src: url("fonts/Assistant-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: "assistantregular", Arial, Helvetica, sans-serif;
    max-width: 960px;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-image: url("../images/curtains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin: 30px;
    color: rgb(255, 217, 0);
    line-height: 60px;
    width: 850px;
}

header h1 {
    font-family: "showtime";
    font-size: 50px;
    text-shadow: 2px 2px #000000;
    text-align: center;
    line-height: 95px;
}

section h3 {
    font-size: 40px;
    margin-top: -40px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000000;
}

#letteralreadyID {
    color: red;
}

#content {
    line-height: 30px;
    width: 850px;
    height: 350px;
    text-align: center;
    padding-top: 58px;
    margin: 50px 30px 80px 30px;
    background: url("../images/marquee.png");
    background-size: 100% 100%;
}

#lettersalready, #wins, #guessesremaining {
    font-weight: bold;
}

#currentwordID, #replacingunderscoresID, #currentword {
    line-height: 40px;
    font-weight: bold;
}

#replacingunderscoresID, #currentword {
    letter-spacing: 3px;
}

#lessimportant {
    font-size: 20px;
}

.musicalPic1 {
    width: 40px;
    float: left;
}