* {
    box-sizing: border-box;
}

@font-face {
	font-family: "showtime";
    src: url("fonts/Showtime.ttf");
}

@font-face {
    font-family: "assistantregular";
    src: url("fonts/Assistant-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "assistantregular";
    src: url("fonts/Assistant-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: "assistantregular", Arial, Helvetica, sans-serif;
    max-width: 960px;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 30px;
    background-image: url("../images/curtains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    margin: 30px;
    color: rgb(255, 217, 0);
    line-height: 60px;
    width: 850px;
}

header h1 {
    font-family: "showtime";
    font-size: 50px;
    text-shadow: 2px 2px #000000;
    text-align: center;
    line-height: 95px;
}

section h3 {
    font-size: 40px;
    margin-top: -40px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000000;
}

#letteralreadyID {
    color: red;
}

#container {
    line-height: 30px;
    width: 850px;
    height: 350px;
    text-align: center;
    padding-top: 58px;
    margin: 50px 30px 80px 30px;
    background: url("../images/marquee.png");
    background-size: 100% 100%;
    position: relative;
}

#lettersalready, #wins, #guessesremaining {
    font-weight: bold;
}

#currentwordID, #replacingunderscoresID, #currentword {
    line-height: 40px;
    font-weight: bold;
}

#replacingunderscoresID, #currentword {
    letter-spacing: 3px;
}

#lessimportant {
    font-size: 20px;
    text-align: center;
}

#correctanswerID {
    font-size: 15px;
    text-align: center;
    color: purple;
}

.evita1 {
    width: 150px;
    float: left;
    padding-left: 50px;
    padding-bottom: 100px;
}

.evita2 {
    width: 150px;
    float: right;
    padding-bottom: 100px;
    padding-right: 50px;
}

.annie1 {
    width: 150px;
    float: left;
    padding-left: 40px;
    padding-bottom: 70px;
}

.annie2 {
    width: 140px;
    float: right;
    padding-right: 46px;
    padding-bottom: 75px;
}

.lesmis1 {
    width: 155px;
    float: left;
    padding-left: 50px;
    padding-bottom: 170px;
}

.lesmis2 {
    width: 160px;
    float: right;
    padding-right: 60px;
    padding-bottom: 40px;
}

.cats1 {
    width: 150px;
    float: left;
    padding-left: 60px;
    padding-bottom: 60px;
}

.cats2 {
    width: 150px;
    float: right;
    padding-right: 60px;
    padding-bottom: 60px;
}

.phantom1 {
    width: 150px;
    float: left;
    padding-left: 60px;
    padding-bottom: 100px;
}

.phantom2 {
    width: 150px;
    float: right;
    padding-right: 60px;
    padding-bottom: 100px;
}

.video {
    padding-bottom: 50px;
    position: absolute;
    bottom: 1px;
    left: 135px;
    width: 540px;
    height: 295px;
}